.img-div{
    width: 245px;
    padding: 20px;
    background: rgba(128, 128, 128, 0.158);
}
.card-img{
    width: auto;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
    margin-left: 20px;
}
.card-btn-price{
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-left: -35px;
    margin-bottom: 20px;
}
.cost{
    font-size: 20px;
    font-weight: 900;
    text-align: center;
}
.main-card{
    border: 0;
}

@media screen and (max-width: 375px){
    .main-card{
        margin-left: 30px;
    }
}
