.admin-container{
    display: flex;
}
.admin-menu{
    width: 17%;
    height: 100vh;
    background-color: #006266;
}
.add-book-data{
    display: flex;
    justify-content: space-between;
}
.admin-submit{
    margin-left: 30px;
    margin-top: 30px;
    width: 50%;
}
.menu-list{
    margin-top: 30px;
    font-weight: 900;
    margin-left: 10px;
}
.menu-list h5{
    color: #fff;
}
.menu-list ul{
    list-style: none;
    margin-top: 40px;
}
.menu-list ul .link{
    text-decoration: none;
    color: #fff;
    margin-bottom: 4px;
    display: block;
}
