.checkout-main{
    margin-left: 14rem;
    margin-top: 8rem;
    width: 80%;
}
table{
    width: 80%;
}
th, td{
    /* border-bottom: 1px solid rgba(128, 128, 128, 0.233);
    border-right: 10%; */
    width: 50%;
}
th{
    border-bottom: 1px solid rgba(128, 128, 128, 0.233);
}
tr:nth-child(3){
    border-bottom: 1px solid rgba(128, 128, 128, 0.233);
}
td{
    padding-left: 8px;
}
td:nth-child(2){
    padding-left: 23px;
}


