.store-title{
    margin: 20px;
    font-size: 23px;
    font-family: 'Domine', serif;
}
.navbar-nav .login-btn{
    text-decoration: none;
    background: #e74c3c;
    padding: 8px 12px;
    color: #fff !important;
    border-radius: 3px;
}
.nav-link{
    margin-right: 20px;
    text-align: center;
}


@media screen and (max-width: 423px){
    .store-title{
        margin: 20px;
        font-size: 17px;
        font-family: 'Domine', serif;
    }
}
@media screen and (max-width: 370px){
    .store-title{
        margin: 20px;
        font-size: 12px;
        font-family: 'Domine', serif;
    }
}













