.main-header{
    display: flex;
    justify-content: space-between;
}
.store-title{
    margin: 20px;
    font-size: 15px;
}
.menu ul li{
    display: inline-block;
    margin: 20px;
    color: #000;
    font-weight: bold;
}